{% extends "blog/base.html"%}

{% block title %} My Blog {%endblock%}


{% block content%}





<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for post in posts %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{{ post.get_absolute_url }}">
                    <h2 class="post-title">{{post.title}}</h2>
                    <h3 class="post-subtitle">{{post.body|truncatewords:30|linebreaks }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{post.author}}</a>
                    {{post.published}}                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        
            {% endfor %}
            <!-- Pager-->
            {% include "blog/pagination.html" with page=page_obj %}

        </div>
    </div>
</div>


{% endblock%}
